/* Styles for microphone landing page*/

/* =General styles */
html {
	max-width: 1920px;
}
body {
	font: 400 18px / 1.5 'Roboto', sans-serif;
}
/* =Grid styles */
.container {
/*	max-width: 1440px;
	margin: auto;*/
}
.col {

}
/* =Helper classes */
.list_style_none {

}