/* Styles for microphone landing page*/

/* Colors */
/*
	white: #fff;
	black-main: #000;
	black: #272727;
	gray: #e6e6e6;
	red: #ff0200;
	red-dark: #9d0406;
	gold: #ffcc00;
	success-gradient: #82dd17, #1dc04b;
	danger-gradient: #e10019, #950505;
	fancy-gradient: #0a00b2, #ff0000, #fffc00);
*/

/* Import fonts */
@font-face {
	font-family: 'Obelix Pro';
	src: url('../font/ObelixPro-cyr.ttf') format('truetype');
}

/* =General styles */
html {
	max-width: 1920px;
}
body {
	font: 400 18px / 1.5 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
/* =Grid styles */
@media (min-width: 768px) {
	.container {
		max-width: 1440px;
		margin: auto;
	}
}
.col {

}
/* =Typography */
h1, .h1 {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
@media (min-width: 768px) {
	h1, .h1 {
		font-size: 40px;
	}
}
h2, .h2 {
	font-size: 24px;
	text-transform: uppercase;
}
@media (min-width: 768px) {
	h2, .h2 {
		font-size: 36px;
	}
}
h3, .h3 {
	font-size: 24px;
	color: #000;
}
h4, .h4 {
	font-size: 24px;
	color: #010101;
	text-transform: uppercase;
}
/* =Section title */
.sectionTitle {
	color: #9d0406;
	text-align: center;
}
.sectionTitle_fancy {
	color: #fff;
	background: linear-gradient(to left, #0a00b2, #ff0000 50%, #fffc00);
	padding: 10px;
	position: relative;
	z-index: 10;
}
@media (min-width: 768px) {
	.sectionTitle_fancy {
		margin-right: calc(100vw - 50%);
		padding: 46px 97px;
		text-align: right;
		
	}
	.sectionTitle_fancy:before {
		content: '';
		width: 378px;
		height: 43px;
		background-image: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), linear-gradient(to right, #c0002e, #1100ad);
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
		position: absolute;
		bottom: -42px;
		z-index: 1;
		right: 0px;
	}
}
.fancyType {
	display: block;
	font-family: 'Obelix Pro', cursive;
	background: -webkit-linear-gradient(#0a00b2, #ff0000, #fffc00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* =Typography helpers */
.text-align-center {
	text-align: center;
}
.font-s {
	font-size: 14px;
}
.font-m {
	font-size: 20px;
}
.font-l {
	font-size: 24px;
}
.lh-43 {
	line-height: 43px;
}
.uppercase {
	text-transform: uppercase;
}
.font-weight-bold {
	font-weight: bold;
}
.list-style-none {
	list-style: none;
}
/* =Spacing helpers */
.p-0 {
	padding: 0;
}
.m-0 {
	margin: 0;
}
/* =Color helpers */
.c-white {
	color: #fff;
}
/* =Other helpers */
.img-responsive {
	max-width: 100%;
}
.display-none {
	display: none;
}
/* =Buttons */
.btn {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	padding: 10px 25px;
	text-decoration: none;
	background: linear-gradient(to top, gray, silver);
	border-radius: 40px / 34px;
	margin: 5px;
}
.btn:hover {
	cursor: pointer;
}
@media (min-width: 768px) {
	.btn {
		padding: 7px 50px;
		font-size: 24px;
	}
}
.btn_large {
	max-width: 163px;
	display: block;
	text-align: center;
	margin: 5px auto;
}
@media (min-width: 768px) {
	.btn_large {
		max-width: initial;
		min-width: 173px;
		display: inline-block;
		margin: 5px;
	}
}
.btn_success {
	background: linear-gradient(to top, #82dd17, #1dc04b);
}
.btn_success:hover {
	background: linear-gradient(to bottom, #82dd17, #1dc04b);
}
.btn_danger {
	background: linear-gradient(to top, #e10019, #950505);
}
.btn_danger:hover {
	background: linear-gradient(to bottom, #e10019, #950505);
}
/* =Price */
.price {
	text-align: center;
	font-weight: bold;
	position: relative;
}
.priceOld {
	font-size: 28px;
	color: #fff;
	text-decoration: line-through;
}
.priceNew {
	font-size: 60px;
	color: #ff0000;
	margin-left: 30px;
}
.priceNew:after {
	content: url(../img/ellipseBorder.png);
	position: absolute;
	right: -103px;
  bottom: -30px;
  left: 0;
}
/* =Nav */
.navLink {
	font-size: 14px;
	color: #272727;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.navLink:hover {
	text-decoration: underline;
}
@media (min-width: 768px) {
	.navLink {
		padding: 0 10px;
	}
}
.slicknav_menu {
	display:none;
}
@media (min-width: 768px) {
	.navWrapper {
		position: absolute;
		display: flex;
		justify-content: center;
	}
	.pageNav {
		display: inline-block;
    /*position: absolute;*/
    background: #fff;
    padding: 3px 50px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transform: translateX(86%);
	}
}
@media screen and (max-width: 768px) {
	#pageNav {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	}
}
/* =Logo */
.logo {
	text-align: center;
}
@media (min-width: 768px) {
	.logo_header {
		position: absolute;
		left: 0;
		right: 0;
		top: 20px;
	}
}
/* =Contact */
.headerContact {
	text-align: center;
}
@media (min-width: 768px) {
	.headerContact {
		margin-right: 40px;
		padding-top: 18px;
	}
}
.contactCopy {
	font-size: 14px;
	color: #000;
	margin: 0;
}
.contactPhone {
	font-size: 27px;
	color: #ff0200;
	font-weight: bold;
	text-decoration: none;
}
@media (min-width: 768px) {
	.contactPhone {
		font-size: 47px;
	}
}
/* =Hero */
.hero {
	padding: 55px 10px 23px;
	background-image: url(../img/bgHero.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 0px -120px;
}
.heroTitle {
	margin: 14px 0;
	line-height: 1.3;
}
@media (min-width: 768px) {
	.heroCol {
		max-width: 50%;
		margin-left: 80px;
	}
	.heroAction {
		margin-left: 72px;
    margin-bottom: 14px;
    margin-top: 14px;
	}
}
/* =Form */
.form {
	border: solid 3px #aaaaaa;
	border-radius: 30px;
	padding: 10px;
	margin: 10px 0;
	display: flex;
	flex-direction: column;
}
.form_modal {
	max-width: 600px;
}
@media (min-width: 768px) {
	.form {
		padding: 111px 30px;
		margin: 0;
	}
}
input[type=text],
input[type=tel],
input[type=email] {
	font-size: 21px;
	padding: 10px 10px;
	margin-bottom: 30px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.48);
	border: 1px solid rgba(0, 0, 0, 0.48);
	border-radius: 10px;
	display: block;
	max-width: 495px;
}
input {
	outline: 0;
}
input::placeholder {
	color: #b6b6b6;
}
.inputCheckbox_modal {
	display: none;
}
.label_modal {
	width: 30px;
	height: 30px;
	background: gray;
	border-radius: 50%;
	display: inline-block;
	background-origin: border-box;
	border: 3px solid lightgray;
	cursor: pointer;
	position: relative;
}
.inputCheckbox_modal[type=radio]:checked + .label_modal {
	border-color: gray;
}
.inputCheckbox_modal[type=radio]:checked + .label_modal:after {
	content: '\02713';
	color: #fff;
	font-size: 25px;
	position: absolute;
	left: 20%;
	top: -3px;
}
.inputCheckbox_modal[type=radio]:checked + .label_modal_white:after {
	color: #000;
}
.label_modal_red {
	background: #ff0200;
}
.label_modal_black {
	background: #101010;
}
.label_modal_gold {
	background: #ffcc00;
}
.label_modal_white {
	background: #fff;
}
.form-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* =Page Sections */
.pageSection {
	padding: 30px 10px;
}
.pageSection_header {
	padding-top: 10px;
	position: relative;
}
@media (min-width: 768px) {
	.pageSection_header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.18);
		padding-bottom: 10px;
	}
}
.pageSection_gift {
	background: url(../img/bgGift.jpg) center / cover no-repeat;
}
.pageSection_functions {
	background: url(../img/bgVariant.jpg) center left no-repeat;
}
.pageSection_testdrive {
	background: radial-gradient(#fff 30%, #e6e6e6);
}
.pageSection_testimonials {
	box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.21);
	padding-bottom: 253px;
	background: url(../img/bgTestimonials.png) bottom center no-repeat;
}
/* =Action */
.action {
	margin-bottom: 30px;
}
.action_color {
	display: flex;
	flex-wrap: wrap;
}
@media (min-width: 768px) {
	.action_color {
		display: block;
	}	
}
.actionLabel {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	border-radius: 40px / 34px;
	cursor: pointer;
	border: 3px solid transparent;
}
.actionLabel_checkbox {
	color: #fff;
	padding: 5px 20px;
	background: linear-gradient(to top, #82dd17, #1dc04b);
	background-origin: border-box;
}
@media (min-width: 768px) {
	.actionLabel {
		font-size: 24px;
	}
	.actionLabel_checkbox {
		padding: 16px 50px;
	}
}
.actionLabel_radio {
	display: flex;
	-ms-align-items: center;
	align-items: center;
	background: #ededed;
	padding: 10px 10px 10px 60px;
	margin: 5px;
	font-weight: 400;
	font-size: 14px;
	position: relative;
}
@media (min-width: 768px) {
	.actionLabel_radio {
		justify-content: center;
		font-size: 24px;
		padding: 10px;
		width: 360px;
		height: 136px;
	}
}
.actionLabel_radio:after {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	left: 15px;
	top: 5px;
	border-radius: 50%;
}
@media (min-width: 768px) {
	.actionLabel_radio:after {
		width: 100px;
		height: 100px;
		top: 30px;
	}
}
.actionLabel_color_black:after {
	background: #101010;
}
.actionLabel_color_red:after {
	background: #ff0200;
}
.actionLabel_color_gold:after {
	background: #ffcc00;
}
.actionLabel_color_white:after {
	background: #fff;
}
/*.actionLabel:hover {
	background: linear-gradient(to bottom, #82dd17, #1dc04b);
}*/
.actionInput {
	display: none;
}
.actionInput[type=checkbox]:checked ~ .actionLabel {
	border-color: #ff0200;
}
.actionInput[type=radio]:checked + .actionLabel {
	border-color: #ff0200;
}
/* =Slider */
.testimonialsSlider {
	padding: 0;
	position: relative;	
}
@media (min-width: 768px) {
	.testimonialsSlider {
		padding: 0 40px;
	}
}
.slider {
	margin-top: 50px;
}
@media (min-width: 768px) {
	.slider {
		margin-top: 0;
	}
}
.slide {
	border-radius: 30px;
  border: solid 3px #9d0406;
  box-sizing: border-box;
  padding: 20px 10px;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
	.slide {
		padding: 20px 40px;
		min-height: 478px;
		margin: 0 30px;
	}
}
.slideHeader img {
	margin: auto;
	width: 173px;
  height: 173px;
  border-radius: 50%;
}
.sliderControls {
}
.my-slick-arrow {
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 3px solid lightgray;
	border-right-color: transparent;
	border-bottom-color: transparent;
	position: absolute;
  top: -45px;
}
@media (min-width: 768px) {
	.my-slick-arrow {
		width: 50px;
		height: 50px;
		top: 45%;
	}
}
.arrow-prev {
	transform: rotate(-45deg);
	left: 15px;
}
.arrow-next {
	transform: rotate(135deg);
	right: 15px;
}
/* =Footer */
.pageFooter {
	box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.31);
	padding: 60px 43px;

}
/* =Microphone */
.micContour {
	max-height: 100px;
}
@media (min-width: 768px) {
	.micContour {
		max-height: initial;
	}
}
/* =Gallery */
.galleryItem {
	display: inline-block;
	position: relative;
	outline: 0;
}
.galleryItem:after {
	content: '';
	background: url(../img/magnifyWhite.png) center no-repeat, linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6));
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9999;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
}
/* Gift */
.giftMic {
	height: 150px;
}
@media (min-width: 768px) {
	.giftMic {
		height: initial;
	}
}
.giftCol {
	flex: 3;
}
.giftCol_mic {
	flex: 1 100%;
	width: 100vw;
}
.giftImage {
	height: 100px;
}
@media (min-width: 768px) {
	.giftImage {
		height: initial;
	}
}
.giftInner {
	display: flex;
	flex-wrap: wrap;
}
@media (min-width: 768px) {
	.giftInner {
		display: block;
	}
}
/* Functions */
.functionsMic {
	height: 150px;
}
@media (min-width: 768px) {
	.functionsMic {
		height: initial;
	}
}
